@font-face {
    font-family: ubuntu;
    src: url("../font/Ubuntu-B.ttf");
}

body {
    font-family: ubuntu;
    margin: auto;
    background: rgb(37,150,190);
    background: linear-gradient(37deg, rgba(37,150,190,1) 0%, rgba(9,121,51,0.9486388305322129) 40%, rgba(37,150,190,1) 100%);
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fa-th-large{
    float: left;
    margin: 10px;
   
}
.menu-header-name{
    margin-left: 4%;
    padding-top: 10px;
  
 
}
.box-showing{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 10px;
}
.tab-header{
    background-color: black;
    border-radius: 5px;
}
.status-making{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: greenyellow;
    margin-top: 50%;
}
.status-not-making{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
    margin-top: 50%;
}
.box-menu{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 10px;
    padding: 20px;
}
.menu_image{
    width: 100%;
}
@media only screen and (max-width: 800px) {
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 14px;
    }
    .status-making{
        width: 12px;
        height: 12px;
    }
    .status-not-making{
        width: 12px;
        height: 12px;
    }

}
